.btn-default{
    background-color: transparent;
    border: none;
    color: white;
    width: 160px;
    text-align: center;
    font-size: 14px;
    height: 40px;
    &.btn-green{
        background-color: $green;
    }
    &.btn-blue{
        background-color: $blue-2;
    }
    &.btn-red{
        background-color: $red;
    }
    transition: filter 0.2s;
    &:hover{
        filter: brightness(0.9);
    }
}
