.register-card {
    padding: 2rem 0;
    margin: 10rem auto;
    max-width: 1100px;
    background: $white;
    border-radius: 8px;
    border: 1px solid $nav-text-active;
    .register-label {
        font-family: "Mulish Bold", sans-serif;
        font-size: 16px;
    }
    .register-input {
        display: block;
        text-transform: uppercase;
        width: 100%;
        max-width: 450px;
        border: 1px solid $input-border;
        background-color: $input-bg;
        border-radius: 8px;
        height: 50px;
        padding: 0 1.5rem;
        font-size: 16px;
        font-family: "Mulish Regular", sans-serif;
        &::-ms-expand {
            display: none !important;
        }
        &::placeholder {
            color: rgba(75, 80, 109, 0.4);
        }
    }

    /* onip-radio */
    .radio-container {
        display: block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        text-transform: uppercase;
        .radio-input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .radio-span {
                background-color: $white;
                &::after {
                    display: block;
                }
            }
        }
        .radio-span {
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid $blue;
            background: $white;
            text-transform: uppercase;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 1.5px;
                width: 5px;
                height: 8px;
                border: solid $blue;
                border-radius: 0.4px;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    /* parte do select */

    /*the container must be positioned relative:*/
    .custom-select-2 {
        position: relative;
        height: 50px;
        width: 100%;
        max-width: 450px;
        cursor: pointer;
        text-transform: uppercase;
        select {
            display: none; /*hide original SELECT element:*/
        }
    }

    .select-selected {
        background-color: $input-bg;
        border: 1px solid $input-border;
        text-transform: uppercase;
        line-height: 3.1;
        border-radius: 8px;
        color: rgba(75, 80, 109, 0.4);
        padding: 0 1.5rem;
        font-size: 16px;
        font-family: "Mulish Regular";
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 22px;
        right: 12px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $blue transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent $blue transparent;
        top: 12px;
    }
    /* style selecionado */
    .select-selected.select-arrow-active {
        border-bottom: 0px;
        border-radius: 4px 4px 0px 0px;
    }
    /*style the items (options), including the selected item:*/
    .select-items div {
        height: 50px;
        padding: 0 1.5rem;
        cursor: pointer;
        user-select: none;
        line-height: 3;
    }

    /*style items (options):*/
    .select-items {
        position: absolute;
        background-color: $input-bg;
        text-transform: uppercase;
        color: $black !important;
        font-size: 16px;
        border-right: 1px solid $input-border;
        border-left: 1px solid $input-border;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        max-height: 176px;
        overflow-y: auto;
        &:last-child {
            border-bottom: 1px solid $input-border;
            border-radius: 0px 0px 4px 4px;
        }
        //scroll bar
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: $input-bg;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $light-gray;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $input-border;
        }
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: $light-gray;
    }

    .select-item-black {
        color: $black !important;
    }
}

.modal-body{
    .register-label {
        font-family: "Mulish Bold", sans-serif;
        font-size: 16px;
    }
    .register-input {
        display: block;
        width: 100%;
        max-width: 450px;
        border: 1px solid $input-border;
        text-transform: uppercase;
        background-color: $input-bg;
        border-radius: 8px;
        height: 50px;
        padding: 0 1.5rem;
        font-size: 16px;
        font-family: "Mulish Regular", sans-serif;
        &::-ms-expand {
            display: none !important;
        }
        &::placeholder {
            color: rgba(75, 80, 109, 0.4);
        }
    }

    /* onip-radio */
    .radio-container {
        display: block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        text-transform: uppercase;
        .radio-input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .radio-span {
                background-color: $white;
                &::after {
                    display: block;
                }
            }
        }
        .radio-span {
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid $blue;
            background: $white;
            text-transform: uppercase;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 1.5px;
                width: 5px;
                height: 8px;
                border: solid $blue;
                border-radius: 0.4px;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    /* parte do select */

    /*the container must be positioned relative:*/
    .custom-select-2 {
        position: relative;
        height: 50px;
        width: 100%;
        max-width: 450px;
        text-transform: uppercase;
        cursor: pointer;
        select {
            display: none; /*hide original SELECT element:*/
        }
    }

    .select-selected {
        background-color: $input-bg;
        border: 1px solid $input-border;
        text-transform: uppercase;
        line-height: 3.1;
        border-radius: 8px;
        color: rgba(75, 80, 109, 0.4);
        padding: 0 1.5rem;
        font-size: 16px;
        font-family: "Mulish Regular";
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 22px;
        right: 12px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $blue transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent $blue transparent;
        top: 12px;
    }
    /* style selecionado */
    .select-selected.select-arrow-active {
        border-bottom: 0px;
        border-radius: 4px 4px 0px 0px;
    }
    /*style the items (options), including the selected item:*/
    .select-items div {
        height: 50px;
        padding: 0 1.5rem;
        cursor: pointer;
        user-select: none;
        line-height: 3;
    }

    /*style items (options):*/
    .select-items {
        position: absolute;
        background-color: $input-bg;
        color: $black !important;
        font-size: 16px;
        border-right: 1px solid $input-border;
        border-left: 1px solid $input-border;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        max-height: 176px;
        overflow-y: auto;
        &:last-child {
            border-bottom: 1px solid $input-border;
            border-radius: 0px 0px 4px 4px;
        }
        //scroll bar
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: $input-bg;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $light-gray;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $input-border;
        }
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: $light-gray;
    }

    .select-item-black {
        color: $black !important;
    }
}
