.modal {
    .modal-dialog {
        max-width: 1000px !important;
        .modal-content-default {
            max-width: 1000px;
            border-radius: 12px;
            .modal-header-default {
                position: relative;
                padding: 20px 25px;
                border-bottom: 3px solid $blue;
                h5 {
                    font-size: 22px;
                }
            }
            .modal-body {
                .alert-color {
                    margin-right: 2.5rem;
                    margin-left: 2.5rem;
                    background-color: $blue-2;
                    color: $white;
                    span {
                        padding-top: 0.2rem !important;
                        color: $white;
                        opacity: 0.8;
                        &:hover {
                            filter: brightness(0.8);
                        }
                    }
                }
                .modal-text {
                    font-size: 20px;
                    font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
                }
                .btn-div {
                    margin-top: 4.75rem;
                    .btn-default {
                        border-radius: 12px;
                        width: 100px;
                    }
                }
                #filter-table-container {
                    height: 550px;
                    overflow-y: auto;
                }
            }
        }
    }
}

.modal {
    .modal-dialog-delete {
        max-width: 500px !important;
        .modal-content-delete {
            max-height: 400px;
            width: 500px;
            border-radius: 12px;
            .modal-header-delete {
                position: relative;
                padding: 20px 25px;
                border-bottom: 3px solid $blue;
                h5 {
                    font-size: 22px;
                }
            }
            .modal-body {
                .modal-text {
                    font-size: 20px;
                    font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
                }
                .btn-div {
                    margin-top: 4.75rem;
                    .btn-default {
                        border-radius: 12px;
                        width: 100px;
                    }
                }
            }
        }
    }
}
