#alerts {
    position: absolute;
    top: 40px;
    right: 15px;
}

.popup {
    position: relative;
    max-width: 300px;
    min-width: 250px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    .popup-header {
        position: relative;
        padding: 16px;
        height: 40px;
        background: linear-gradient(
                225deg,
                $blue 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            $blue;
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 24px;
        }
        .popup-close {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: $white;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .popup-body {
        padding: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        color: $black;
        background-color: $white;
        .modal-text{
            font-size: 14px;
            margin: 8px 0;
        }
        .btn-div{
            display: flex;
            justify-content: center;
            .btn{
                font-size: 12px;
                margin: 15px 10px 0px 10px;
                height: 26px;
                width: 70px;
                line-height: 0.6;
                padding: 0;
            }
        }
    }
    .popup-progress {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: linear-gradient(
                225deg,
                $blue 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            $blue-2;
    }
}

.popup-alert {
    position: relative;
    max-width: 300px;
    min-width: 250px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    .popup-header {
        position: relative;
        padding: 16px;
        background: linear-gradient(
                225deg,
                $red 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            $red-2;
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 18px;
            border: 1px solid white;
            padding: 2px 8px;
            border-radius: 100%;
        }
        .popup-close {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: $white;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .popup-body {
        padding: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        color: $black;
        background-color: $white;
    }
    .popup-progress {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: linear-gradient(
                225deg,
                $red 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            $red-2;
    }
}
