.menu-span {
  font-size: 16px !important;
  padding-left: 3.5rem !important;
}

.m-aside-left.m-aside-left--skin-dark, .m-aside-left-close.m-aside-left-close--skin-dark {
  background-color: #363740;
}

.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--left span, .m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--left span:before, .m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::after {
  background-color: #716aca;
}

.m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile) > .m-grid__item.m-grid__item--fluid, .m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile) > .m-grid__item.m-grid__item--fluid-general {
  background-color: #F7F8FC;
}

.blue-card {
  border-top: 5px solid #3751FF !important;
}

table {
  font-family: "Mulish Bold", Arial, Helvetica, sans-serif;
}
table thead .first-column {
  padding-left: 2rem !important;
}
table thead .last-column {
  width: 100px !important;
}
table tbody .first-column {
  padding-left: 2rem !important;
}
table tbody td {
  padding: 10px 18px !important;
}
table tbody .icon {
  border: none;
  background: transparent;
  margin: 0 0.5rem;
  transition: filter 0.2s;
  transition: transform 0.2s;
}
table tbody .icon i {
  font-size: 22px;
}
table tbody .icon.icon-edit i {
  color: #17A2B8;
}
table tbody .icon.icon-delete i {
  color: #DC3545;
}
table tbody .icon:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}

.dataTables_wrapper {
  font-family: "Mulish Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.dataTables_length {
  padding: 1.25rem 2rem;
}
.dataTables_length label {
  margin-bottom: 0;
}

.dataTables_filter {
  padding: 1.25rem 0;
  padding-right: 4rem;
}
.dataTables_filter label {
  margin-bottom: 0;
}

.paging_simple_numbers {
  padding: 1.25rem 2rem;
}

.dataTables_info {
  padding: 1.25rem 2rem;
}

.btn-default {
  background-color: transparent;
  border: none;
  color: white;
  width: 160px;
  text-align: center;
  font-size: 14px;
  height: 40px;
  transition: filter 0.2s;
}
.btn-default.btn-green {
  background-color: #28A745;
}
.btn-default.btn-blue {
  background-color: #007BFF;
}
.btn-default.btn-red {
  background-color: #DC3545;
}
.btn-default:hover {
  filter: brightness(0.9);
}

.register-card {
  padding: 2rem 0;
  margin: 10rem auto;
  max-width: 1100px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #DDE2FF;
  /* onip-radio */
  /* parte do select */
  /*the container must be positioned relative:*/
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /* style selecionado */
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}
.register-card .register-label {
  font-family: "Mulish Bold", sans-serif;
  font-size: 16px;
}
.register-card .register-input {
  display: block;
  text-transform: uppercase;
  width: 100%;
  max-width: 450px;
  border: 1px solid #F0F1F7;
  background-color: #FCFDFE;
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-size: 16px;
  font-family: "Mulish Regular", sans-serif;
}
.register-card .register-input::-ms-expand {
  display: none !important;
}
.register-card .register-input::placeholder {
  color: rgba(75, 80, 109, 0.4);
}
.register-card .radio-container {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-transform: uppercase;
}
.register-card .radio-container .radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.register-card .radio-container .radio-input:checked ~ .radio-span {
  background-color: #FFFFFF;
}
.register-card .radio-container .radio-input:checked ~ .radio-span::after {
  display: block;
}
.register-card .radio-container .radio-span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #3751FF;
  background: #FFFFFF;
  text-transform: uppercase;
}
.register-card .radio-container .radio-span::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1.5px;
  width: 5px;
  height: 8px;
  border: solid #3751FF;
  border-radius: 0.4px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.register-card .custom-select-2 {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 450px;
  cursor: pointer;
  text-transform: uppercase;
}
.register-card .custom-select-2 select {
  display: none;
  /*hide original SELECT element:*/
}
.register-card .select-selected {
  background-color: #FCFDFE;
  border: 1px solid #F0F1F7;
  text-transform: uppercase;
  line-height: 3.1;
  border-radius: 8px;
  color: rgba(75, 80, 109, 0.4);
  padding: 0 1.5rem;
  font-size: 16px;
  font-family: "Mulish Regular";
}
.register-card .select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #3751FF transparent transparent transparent;
}
.register-card .select-selected.select-arrow-active:after {
  border-color: transparent transparent #3751FF transparent;
  top: 12px;
}
.register-card .select-selected.select-arrow-active {
  border-bottom: 0px;
  border-radius: 4px 4px 0px 0px;
}
.register-card .select-items div {
  height: 50px;
  padding: 0 1.5rem;
  cursor: pointer;
  user-select: none;
  line-height: 3;
}
.register-card .select-items {
  position: absolute;
  background-color: #FCFDFE;
  text-transform: uppercase;
  color: #252733 !important;
  font-size: 16px;
  border-right: 1px solid #F0F1F7;
  border-left: 1px solid #F0F1F7;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 176px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.register-card .select-items:last-child {
  border-bottom: 1px solid #F0F1F7;
  border-radius: 0px 0px 4px 4px;
}
.register-card .select-items::-webkit-scrollbar {
  width: 10px;
}
.register-card .select-items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #FCFDFE;
}
.register-card .select-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9FA2B4;
}
.register-card .select-items::-webkit-scrollbar-thumb:hover {
  background: #F0F1F7;
}
.register-card .select-hide {
  display: none;
}
.register-card .select-items div:hover,
.register-card .same-as-selected {
  background-color: #9FA2B4;
}
.register-card .select-item-black {
  color: #252733 !important;
}

.modal-body {
  /* onip-radio */
  /* parte do select */
  /*the container must be positioned relative:*/
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /* style selecionado */
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}
.modal-body .register-label {
  font-family: "Mulish Bold", sans-serif;
  font-size: 16px;
}
.modal-body .register-input {
  display: block;
  width: 100%;
  max-width: 450px;
  border: 1px solid #F0F1F7;
  text-transform: uppercase;
  background-color: #FCFDFE;
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-size: 16px;
  font-family: "Mulish Regular", sans-serif;
}
.modal-body .register-input::-ms-expand {
  display: none !important;
}
.modal-body .register-input::placeholder {
  color: rgba(75, 80, 109, 0.4);
}
.modal-body .radio-container {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-transform: uppercase;
}
.modal-body .radio-container .radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal-body .radio-container .radio-input:checked ~ .radio-span {
  background-color: #FFFFFF;
}
.modal-body .radio-container .radio-input:checked ~ .radio-span::after {
  display: block;
}
.modal-body .radio-container .radio-span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #3751FF;
  background: #FFFFFF;
  text-transform: uppercase;
}
.modal-body .radio-container .radio-span::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1.5px;
  width: 5px;
  height: 8px;
  border: solid #3751FF;
  border-radius: 0.4px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-body .custom-select-2 {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 450px;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-body .custom-select-2 select {
  display: none;
  /*hide original SELECT element:*/
}
.modal-body .select-selected {
  background-color: #FCFDFE;
  border: 1px solid #F0F1F7;
  text-transform: uppercase;
  line-height: 3.1;
  border-radius: 8px;
  color: rgba(75, 80, 109, 0.4);
  padding: 0 1.5rem;
  font-size: 16px;
  font-family: "Mulish Regular";
}
.modal-body .select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #3751FF transparent transparent transparent;
}
.modal-body .select-selected.select-arrow-active:after {
  border-color: transparent transparent #3751FF transparent;
  top: 12px;
}
.modal-body .select-selected.select-arrow-active {
  border-bottom: 0px;
  border-radius: 4px 4px 0px 0px;
}
.modal-body .select-items div {
  height: 50px;
  padding: 0 1.5rem;
  cursor: pointer;
  user-select: none;
  line-height: 3;
}
.modal-body .select-items {
  position: absolute;
  background-color: #FCFDFE;
  color: #252733 !important;
  font-size: 16px;
  border-right: 1px solid #F0F1F7;
  border-left: 1px solid #F0F1F7;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 176px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.modal-body .select-items:last-child {
  border-bottom: 1px solid #F0F1F7;
  border-radius: 0px 0px 4px 4px;
}
.modal-body .select-items::-webkit-scrollbar {
  width: 10px;
}
.modal-body .select-items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #FCFDFE;
}
.modal-body .select-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9FA2B4;
}
.modal-body .select-items::-webkit-scrollbar-thumb:hover {
  background: #F0F1F7;
}
.modal-body .select-hide {
  display: none;
}
.modal-body .select-items div:hover,
.modal-body .same-as-selected {
  background-color: #9FA2B4;
}
.modal-body .select-item-black {
  color: #252733 !important;
}

.main-container {
  padding: 0 2.5rem;
}
.main-container .page-title {
  margin-bottom: 3rem;
  font-size: 32px;
}
.main-container .sub-title {
  font-size: 22px;
  margin-bottom: 0rem;
}
.main-container .general-statistics {
  margin-bottom: 6rem;
}
.main-container .general-statistics .box-containers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-container .general-statistics .box-containers .statistics-box {
  margin: 1rem;
  width: 320px;
  height: 130px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 1.75rem 2rem;
  border: 1px solid #DDE2FF;
}
.main-container .general-statistics .box-containers .statistics-box h3 {
  font-size: 20px;
  color: #9FA2B4;
  text-align: center;
}
.main-container .general-statistics .box-containers .statistics-box h2 {
  text-align: center;
  font-size: 40px;
  color: #252733;
}
.main-container .main-card {
  margin: 1rem 0;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #DDE2FF;
}
.main-container .main-card ul {
  padding: 0;
  margin: 0;
}
.main-container .main-card ul a {
  text-decoration: none;
  padding: 1.5rem 2rem;
  color: #252733;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
}
.main-container .main-card ul li {
  list-style: none;
}
.main-container .main-card ul li + li {
  border-top: 1px solid #DDE2FF;
}
.main-container .main-card ul .second-li {
  padding: 1.5rem 2rem;
  display: flex;
}
.main-container .main-card ul .second-li span {
  font-size: 14px;
  color: #252733;
  cursor: default;
}
.main-container .main-card ul .second-li .link-number {
  margin-left: auto;
}

#alerts {
  position: absolute;
  top: 40px;
  right: 15px;
}

.popup {
  position: relative;
  max-width: 300px;
  min-width: 250px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.popup:last-child {
  margin-bottom: 0;
}
.popup .popup-header {
  position: relative;
  padding: 16px;
  height: 40px;
  background: linear-gradient(225deg, #3751FF 0%, rgba(255, 255, 255, 0) 100%), #3751FF;
}
.popup .popup-header .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 24px;
}
.popup .popup-header .popup-close {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}
.popup .popup-body {
  padding: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #252733;
  background-color: #FFFFFF;
}
.popup .popup-body .modal-text {
  font-size: 14px;
  margin: 8px 0;
}
.popup .popup-body .btn-div {
  display: flex;
  justify-content: center;
}
.popup .popup-body .btn-div .btn {
  font-size: 12px;
  margin: 15px 10px 0px 10px;
  height: 26px;
  width: 70px;
  line-height: 0.6;
  padding: 0;
}
.popup .popup-progress {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(225deg, #3751FF 0%, rgba(255, 255, 255, 0) 100%), #007BFF;
}

.popup-alert {
  position: relative;
  max-width: 300px;
  min-width: 250px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.popup-alert:last-child {
  margin-bottom: 0;
}
.popup-alert .popup-header {
  position: relative;
  padding: 16px;
  background: linear-gradient(225deg, #DC3545 0%, rgba(255, 255, 255, 0) 100%), #F88792;
}
.popup-alert .popup-header .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 18px;
  border: 1px solid white;
  padding: 2px 8px;
  border-radius: 100%;
}
.popup-alert .popup-header .popup-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}
.popup-alert .popup-body {
  padding: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #252733;
  background-color: #FFFFFF;
}
.popup-alert .popup-progress {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(225deg, #DC3545 0%, rgba(255, 255, 255, 0) 100%), #F88792;
}

.modal .modal-dialog {
  max-width: 1000px !important;
}
.modal .modal-dialog .modal-content-default {
  max-width: 1000px;
  border-radius: 12px;
}
.modal .modal-dialog .modal-content-default .modal-header-default {
  position: relative;
  padding: 20px 25px;
  border-bottom: 3px solid #3751FF;
}
.modal .modal-dialog .modal-content-default .modal-header-default h5 {
  font-size: 22px;
}
.modal .modal-dialog .modal-content-default .modal-body .alert-color {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: #007BFF;
  color: #FFFFFF;
}
.modal .modal-dialog .modal-content-default .modal-body .alert-color span {
  padding-top: 0.2rem !important;
  color: #FFFFFF;
  opacity: 0.8;
}
.modal .modal-dialog .modal-content-default .modal-body .alert-color span:hover {
  filter: brightness(0.8);
}
.modal .modal-dialog .modal-content-default .modal-body .modal-text {
  font-size: 20px;
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
}
.modal .modal-dialog .modal-content-default .modal-body .btn-div {
  margin-top: 4.75rem;
}
.modal .modal-dialog .modal-content-default .modal-body .btn-div .btn-default {
  border-radius: 12px;
  width: 100px;
}
.modal .modal-dialog .modal-content-default .modal-body #filter-table-container {
  height: 550px;
  overflow-y: auto;
}

.modal .modal-dialog-delete {
  max-width: 500px !important;
}
.modal .modal-dialog-delete .modal-content-delete {
  max-height: 400px;
  width: 500px;
  border-radius: 12px;
}
.modal .modal-dialog-delete .modal-content-delete .modal-header-delete {
  position: relative;
  padding: 20px 25px;
  border-bottom: 3px solid #3751FF;
}
.modal .modal-dialog-delete .modal-content-delete .modal-header-delete h5 {
  font-size: 22px;
}
.modal .modal-dialog-delete .modal-content-delete .modal-body .modal-text {
  font-size: 20px;
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
}
.modal .modal-dialog-delete .modal-content-delete .modal-body .btn-div {
  margin-top: 4.75rem;
}
.modal .modal-dialog-delete .modal-content-delete .modal-body .btn-div .btn-default {
  border-radius: 12px;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Mulish SemiBold", sans-serif !important;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, button {
  color: #252733;
  font-weight: normal;
  font-family: "Mulish Bold", sans-serif !important;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/*# sourceMappingURL=style.css.map */
